sharedassets0.assets.resS
ArtifactDB
~
.DS_Store
 
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools
Assets/EntityCache
Recordings/
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.pidb.meta
*.pdb.meta
sysinfo.txt
.apk
#.unitypackage
 
build_info.txt
Assets/StreamingAssets/build_info
Assets/PlayMaker/Editor/Resources/EditorStartupPrefs.asset
Assets/StreamingAssets/build_info.meta
Assets/PlayMaker/Editor/Resources/EditorStartupPrefs.asset.meta
